# AI Context
# GEMINI.md is now README.md

# System
.DS_Store
Thumbs.db

# Editors
.vscode/
.idea/

# Dependencies
node_modules/

# Bun
bun.lockb

# Build Artifacts
# We intentionally do NOT ignore /dist so it can be served by GitHub Pages
# /dist